body {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Dosis', sans-serif;
}

header, nav, main, footer {
    margin: 1rem auto;
    max-width: 760px;
}

header {
    background-color: teal;
    color: white;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    padding: .025px;
}

img {
    position: absolute;
    right: 275px;
    top: 25px;
    float: right;
    border-radius: 15px;
}

footer {
    background-color: teal;
    color: white;
    text-align: center;
    border-radius: 15px;
}

hr { 
    display: block;
    margin-left: 255px;
    margin-right: 275px;
    border-style: inset;
    border-width: 1px;
  }

#lastup {
    color: yellow;
}

h2 {
    display: block;
    margin-left: 255px;
}

h1, h2{
    font-family: 'Mansalva', cursive;
}