@media only screen and (min-width: 64rem){
    li a{
        font-size: 20px;
    }

    .infosection {
        max-width: 90%;
    }

    header img {
        width: 100%;
        border-radius: 75px;
    }

    nav ul.hide {
        display: inline;
    }

    nav button {
        display: none;
    }

    nav ul li {
        float: left;
    }

}